.gridContainer {
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 1fr 1fr;
  grid-template-areas:    "header"
                          "about"
                          "message"
                          "social";
  gap: 2rem;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header img {
  object-fit: contain;
  max-height: 3.5rem;
  animation: bounce2 2 3s linear;
}

.header span {
  font-size: 1.4rem;
}

.aboutInfo {
  grid-area: about;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem
  /* outline: 1px solid red; */
  
}

.title_name {
  color: #ECDBBA;
  background-color: #2D4263;
}

.message {
  grid-area: message;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message_info {
  border: 2px solid #2D4263;
  color: #ECDBBA;
  background-color: #002a5bc0;
  font-size: 1.4rem;
  padding: 1rem;
}

.socialMedia {
  grid-area: social;
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.socialMedia_links {
  display: flex;
  justify-content: center;
  gap: 1rem
}

.socialMedia_links a{
  color: #ECDBBA;
  filter: drop-shadow(0 0 0.2rem #ECDBBA);
}

.socialMedia_links a:hover{
  animation: hithere infinite 2s linear;
}

@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.1); }
  50% { transform: rotate(20deg) scale(1.1); }
  70% { transform: rotate(0deg) scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-10px);}
	60% {transform: translateY(-12px);}
}

@media (prefers-color-scheme: light) {
  .message_info {
    border: 2px solid #2D4263;
    color: #191919;
    background-color: #C84B31;
    font-size: 1.4rem;
    padding: 1rem;
  }

  .socialMedia_links a{
    color: #002a5bc0;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem #002a5bc0);
  }
}

